html,body{padding: 0; margin: 0 auto; max-width: 640px; min-width: 320px; background: #eeeeee;}
.bodybox{width:100%; min-width: 320px; max-width: 640px;position: fixed; top: 0;}
.boxhz{width: 95%;}
.boxhzcl{clear: both;}


.topbox{width: 100%; height: 40px; background: #fc7000;}
.topbox .left{line-height: 40px;}
.topbox .left a{color: #fff;}
.topbox .center{line-height: 40px; color: #fff; font-size: 20px;}

.daikuan{overflow: hidden;}


.business-hz{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.business-top{width: 100%; height: auto; overflow: hidden;}
.business-top .tx{top: 20%; margin-left: 10%; width: 20%; height: auto; border-radius: 100px; overflow: hidden; border: 3px solid #fff;}


@media (min-width: 320px){
.business-top .yhm{left: 35%; top: 22%; overflow: hidden;}
.business-top .yhm>p{margin: 0; padding: 0; color: #fff; line-height: 20px; font-size: 12px;}
.business-top .yhm>p>img{max-width: 20px; max-height: 20px; margin-right: 5px;}
}
@media (min-width: 400px){
.business-top .yhm{left: 35%; top: 23%; overflow: hidden;}
.business-top .yhm>p{margin: 0; padding: 0; color: #fff; line-height: 23px;font-size: 14px;}
.business-top .yhm>p>img{max-width: 25px; max-height: 25px; margin-right: 5px;}
}
@media (min-width: 500px){
.business-top .yhm{left: 35%; top: 27%; overflow: hidden;}
.business-top .yhm>p{margin: 0; padding: 0; color: #fff; line-height: 25px;font-size: 16px;}
.business-top .yhm>p>img{max-width: 25px; max-height: 25px; margin-right: 5px;}
}
@media (min-width: 600px){
.business-top .yhm{left: 35%; top: 30%; overflow: hidden;}
.business-top .yhm>p{margin: 0; padding: 0; color: #fff; line-height: 30px;}
.business-top .yhm>p>img{max-width: 25px; max-height: 25px; margin-right: 5px;}
}

.business-tjxc{width: 95%; line-height: 50px; background: #cf1012; color: #fff; border-radius: 3px; margin-left: 2.5%;}
.business-button{width: 95%; background: #dddddd; color: #333333; line-height: 40px; border-radius: 3px; margin-left:2.5%;}
.business-button.g{background: #fc7000; color: #fff;}

.business-nav{overflow: hidden;}

.business-baogao{width: 95%; overflow: hidden; height: auto; border-radius: 3px; border: 1px solid #ddd;}
.business-baogao .top{width: 100%; padding: 5px 10px; overflow: hidden; background: #dddddd; }
.business-baogao .text{padding: 10px 15px; background: #fff; overflow: hidden;}
.business-baogao .text>p{padding: 0; margin: 0; line-height: 25px;}
.business-baogao .button{width: 100%; line-height: 40px; background: #eaeaea; color: #666; text-align: center;}
.business-baogao .button>span{color: #ff0000;}
.business-baogao .button-ck{width: 100%; line-height: 40px; background: #8fc420; color: #fff;}

.business-shoucang{width: 95%; overflow: hidden; height: auto; border-radius: 3px; border: 1px solid #ddd;}
.business-shoucang .top{width: 100%; padding: 5px 10px; overflow: hidden; background: #dddddd; }
.business-shoucang .top span{color: #333;}
.business-shoucang .top a{color: #666;}
.business-shoucang .text{padding: 10px; overflow: hidden; background: #fff;}
.business-shoucang .text .img{height: 94px; width: 135px; overflow: hidden; margin-right: 8px;}    
.business-shoucang .text>h2{font-size: 15px; margin: 0; padding: 0; line-height: 20px; height: auto; overflow:hidden;}
.business-shoucang .text>p{padding: 0; margin: 0; font-size: 12px; line-height: 25px;}
.business-shoucang .text>p.jg{font-size: 14px;}
.business-shoucang .text>p.jg span{color: #cf1012; font-weight: bold;}
.business-shoucang .button{width: 100%; line-height: 40px; background: #fc7000; color: #fff;}
.business-shoucang .button.lx{background: #d65f00;}

.business-tongji{width: 100%; background: #fff; padding: 10px 15px;}
.business-tongji .g{line-height: 30px;}
.business-tongji .time{width: 100%;}
.business-tongji .time input{width: 100%; line-height: 30px; border-radius: 3px; border:1px solid #ddd;}
.business-jieguo{width: 95%; overflow: hidden; border-radius: 3px;}
.business-jieguo .shangj{background: #608395;width: 100%; overflow: hidden; color: #fff; line-height: 40px; padding-left: 5%;}
.business-jieguo .shangj>span{font-size: 20px; padding-right: 10px;}
.business-jieguo .zaik{background: #60958e;width: 100%; overflow: hidden; color: #fff; line-height: 40px; padding-left: 5%;}
.business-jieguo .zaik>span{font-size: 20px; padding-right: 10px;}
.business-jieguo .chuk{background: #838a8e;width: 100%; overflow: hidden; color: #fff; line-height: 40px; padding-left: 5%;}
.business-jieguo .chuk>span{font-size: 20px; padding-right: 10px;}

.business-zaik{width: 95%; overflow: hidden; height: auto; border-radius: 3px; border: 1px solid #ddd;}
.business-zaik .top{width: 100%; padding: 5px 10px; overflow: hidden; background: #dddddd; }
.business-zaik .top span{color: #333;}
.business-zaik .top a{color: #666;}
.business-zaik .text{padding: 10px; overflow: hidden; background: #fff;}
.business-zaik .text .img{height: 94px; width: 135px; overflow: hidden; margin-right: 8px;}
.business-zaik .text>h2{font-size: 15px; margin: 0; padding: 0; line-height: 20px; height: 40px;}
.business-zaik .text>p{padding: 0; margin: 0; font-size: 12px; line-height: 25px;}
.business-zaik .text>p.jg{font-size: 14px;}
.business-zaik .text>p.jg span{color: #cf1012; font-weight: bold;}
.business-zaik .button{width: 100%; line-height: 40px; background: #9dd820; color: #fff;}
.business-zaik .button.lx{background: #8fc420;}

.business-tianjia{overflow: hidden; background: #fff;}
.business-tianjia .box{width: 100%;padding: 0 2.5% 0 2.5%; border-bottom: 1px solid #ddd;  overflow: hidden;}
.business-tianjia .box .left>input{line-height: 40px; width: 100%; border: none; margin: 0; padding: 0;}
.business-tianjia .box .left .uk-form-icon{width: 100%;}
.business-tianjia .box .left .uk-form-icon>input{line-height: 40px; width: 100%; border: none; margin: 0; padding: 0;}
.business-tianjia .box>textarea{width: 100%; min-height: 80px; padding: 5px; border: none;resize:none;}
.business-tianjia .box .right{line-height: 40px;}
.business-tianjia .box .left2{line-height: 40px;}
.business-tianjia .box .right>select{border: none; width: 95%; line-height: 40px;}


/*分页*/
.page_list{height:35px;line-height:35px;padding:5px 10px;text-align:right;background:#f9f9f9;}
.page_list span,.page_list a{margin-right:5px;padding:3px 5px;border:1px solid #d5dfe8;background:#fff;}
.page_list a.selected{background:#ee7700;color:#fff;border:1px solid #ee7700;}















