<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title><{$setting.keywords}>-<{$setting.sitename}></title>
	<link href="<{$weburl}>/templates/m/css/page.css" rel="stylesheet" type="text/css"/>
	<script src="<{$weburl}>/templates/m/js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript" src="<{$weburl}>/templates/m/js/jquery.textRemindAuto-1.0.js"></script>
	<script src="<{$weburl}>/templates/m/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript">
    $(function() {
		$(".remindAuto").textRemindAuto();
    })
	</script>
</head>
<body>
<!--头部--> 
<div class="comnav clearfix">
	<a href="javascript:window.history.go(-1);" class="reback">返回</a>
	<a href="index.php" class="home">首页</a>
	联系我们
</div>
<!--头部结束-->
<!--主体-->

<div class="main">
	<div class="scabout">
	<img src="http://www.sch2sc.com/upload/image/20170706/20170706091811_86753.jpg" alt="" width="950"> 
		
		<p >
			<strong>顺驰名车</strong> 
		</p>
		<p >
			地址：宁波市海曙区鄞县大道古林段1号途众汽车商城E27<br>
		电话：18157447500
		</p>
		<p >
			联系人：余经理
		</p>
		<p>
			<br>
		</p>
	</div>
</div>
<!--主体-->
<!--底部--> 
<{include file="m/foot.html"}>
<!--底部结束-->
</body>
</html>
