<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title><{$setting.title}></title>
	<link href="<{$weburl}>/templates/m/css/page.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="<{$weburl}>/templates/default/<{$setting.templates}>/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="<{$weburl}>/templates/m/js/jquery.textRemindAuto-1.0.js"></script>
	<script src="<{$weburl}>/templates/m/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript">
    $(function() {
		$(".remindAuto").textRemindAuto();
    })
	</script>
</head>
<body>
<!--头部--> 
<div class="header clearfix back">
    <div class="logo"><a href="index.php" title=""><{$setting.sitename}></a></div>
		<{if $islogin == 1}>
	   <div class="city" style="width:auto;"><a href="<{$weburl}>/m/index.php?m=user" title="个人中心">个人中心</a></div>
		<{else}>
		 <div class="city" style="width:auto;"><a href="index.php?m=login" title="登录">登录</a></div>
		<{/if}>

</div>
<!--头部结束-->
<!--主体-->
<div class="indexmain">
	<div id="focus" class="focus">
		<div class="hd">
			<ul></ul>
		</div>
		<div class="bd">
			<ul>
				<{foreach from=$film_list item=film}>
				<li><a href="#"><img _src="<{$weburl}><{$film.pic}>" src="images/blank.png" /></a></li>
				<{/foreach}>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		TouchSlide({ 
			slideCell:"#focus",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"left", 
			autoPlay:true,//自动播放
			autoPage:true, //自动分页
			switchLoad:"_src" //切换加载，真实图片路径为"_src" 
		});
	</script>
</div>
<div class="topsearch mt10">
	<div class="box">
		<form method="get" action="index.php">
			<input type="text" name="k" class="keyword remindAuto" value="搜索车源，如宝马、奔驰"><input type="hidden" name="m" value="search"><input type="hidden" name="a" value="search"><input type="submit" class="but01" value="">
		</form>
	</div>
</div>
<div class="indexmain">
	<div class="indexmenu mt5">
		<ul class="clearfix">
			<li class="bbr"><a href="index.php?m=search" class="menu01">我要买车</a></li>
			<li class="bbr"><a href="index.php?m=supersearch" class="menu04">车辆筛选</a></li>
			<li class="bbr"><a href="index.php?m=aboutus" class="menu03">公司介绍</a></li>
			<li><a href="index.php?m=contact" class="menu02">联系我们</a></li>
		</ul>
	</div>
	
	
	<div class="indexbox mt10">
		<h3><span class="title">车型</span></h3>
		<div class="box clearfix">
			<{foreach from=$cache.modellist key=skey item=modellist}><a href="index.php?m=search&model=<{$skey}>" <{if $skey%4!=0}>class='bbr'<{/if}>><{$modellist}></a><{/foreach}>
		</div>
	</div>
	<div class="indexbox">
		<h3><span class="title">年份</span></h3>
		<div class="box clearfix">
			<{foreach from=$arr_age key=skey item=agellist}><a href="index.php?m=search&years=<{$skey}>" <{if $skey%4!=0}>class='bbr'<{/if}>><{$agellist}></a><{/foreach}>
		</div>
	</div>
	<div class="indexbox">
		<h3><span class="title">价格</span></h3>
		<div class="box clearfix">
			<{foreach from=$arr_price key=skey item=pricelist}><a href="index.php?m=search&price=<{$skey}>" <{if $skey%4!=0}>class='bbr'<{/if}>><{$pricelist}></a><{/foreach}>
		</div>
	</div>
	
	<div class="indexbox">
		<h3><span class="title">热门车源推荐</span></h3>
	<{foreach from=$carslist key=skey item=carslist}>
		<div class="carlist clearfix">
			<div class="carlist_left">
				<a href="<{$carslist.p_url}>"><{if $carslist.p_mainpic<>''}><img src="<{$carslist.p_mainpic}>"/><{else}>暂无图片<{/if}></a>
			</div>
			<div class="carlist_right">
				<p class="f12 fb"><a href="<{$carslist.p_url}>"><{$carslist.p_allname}></a></p>
				<p>上牌日期：<{$carslist.p_year}>年<{$carslist.p_month}>月</p>
				<p><span class="orange01 f14 fr pr10 fb"><{$carslist.p_price}></span><{$carslist.listtime}></p>
			</div>
		</div>
	<{/foreach}>
	</div>
</div>

<!--主体-->
<!--底部-->
<{include file="m/foot.html"}>
<!--底部结束-->
</body>
</html>