<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="<{$weburl}>/templates/m/css/uikit/uikit.min.css" rel="stylesheet" type="text/css"/>
 		<link href="<{$weburl}>/templates/m/css/business.css" rel="stylesheet" type="text/css"/>

	</head>

<body style="background:#f5f5f5;">
		<div class="topbox uk-grid uk-grid-collapse">
			<div class="uk-width-1-10 uk-text-center left">
				<a href="index.php"><i class="uk-icon-chevron-left"></i></a>
			</div>
			<div class="uk-width-8-10 uk-text-center center">
				<span>商家中心</span>
			</div>
			<div class="uk-width-1-10"></div>
		</div>
				
		<div class="business-top uk-position-relative uk-margin-bottom">
			<div class="uk-position-z-index">
				<img src="<{$weburl}>/static/img/top-bj.png" />
			</div>
			<div class="tx business-hz uk-position-top-left">
				<img src="<{$weburl}><{$user.logo}>" />
			</div>
			<div class="uk-position-top-left yhm">
				<p>用户名：<{$user.mobilephone}></p>
				<p>在售车辆：<{$sellcars}> 辆</p>
			</div>
		</div>
		
		<a href="<{$weburl}>/m/index.php?m=user&a=addcar" class="business-tjxc uk-button uk-margin-bottom">添加新车</a>
		
		
		<div class="business-nav uk-margin-bottom">
			<a href="<{$weburl}>/m/index.php?m=user&a=carlist"><img src="<{$weburl}>/static/img/zaiku.png" /></a>
		</div>
		<div class="business-nav uk-margin-bottom">
			<a href="<{$weburl}>/m/index.php?m=user&a=carlistselled"><img src="<{$weburl}>/static/img/chuku.png" /></a>
		</div>
		
		<a href="<{$weburl}>/index.php?m=user&a=logout" class="business-button uk-button">退出登录</a>
	
		<{include file="mobile/`$setting.templates`/common/bottombar.html"}>
		<script type="text/javascript" src="<{$weburl}>/static/js/uikit/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/uikit/uikit.min.js"></script>

</body>
</html>