<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>途众好车</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, business-scalable=no">
		
		<link href="<{$weburl}>/templates/m/css/uikit/uikit.min.css" rel="stylesheet" type="text/css"/>
 		<link href="<{$weburl}>/templates/m/css/business.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="topbox uk-grid uk-grid-collapse">
			<div class="uk-width-1-10 uk-text-center left">
				<a href="#"><i class="uk-icon-chevron-left"></i></a>
			</div>
			<div class="uk-width-8-10 uk-text-center center">
				<span>在库车辆</span>
			</div>
			<div class="uk-width-1-10"></div>
		</div>
		<div class="boxhzcl uk-margin-bottom"></div>
		
		
		<div class="business-shoucang uk-container-center business-hz uk-margin-bottom">
			<div class="business-hz top">
				<a href="#" class="uk-float-right"><i class="uk-icon-cog"></i> 编辑</a>
				<span>
					上架时间：2017-05-05 14:15
				</span>
			</div>
			<div class="text business-hz">
				<div class="img uk-float-left">
					<a href="#"><img src="img/img-cs.jpg" /></a>
				</div>
				<h2>
					<a href="#">奥迪 奥迪Q5 2016款奥迪Q5 40 TFSI...</a>
				</h2>
				<p>2012年08月 | 4.60万公里</p>
				<p class="jg">当前价格： <span>¥7.60</span> 万</p>
			</div>
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button">下架</a>
				</div>
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button lx">出库</a>
				</div>
			</div>
		</div>
		
		<div class="business-shoucang uk-container-center business-hz uk-margin-bottom">
			<div class="business-hz top">
				<a href="#" class="uk-float-right"><i class="uk-icon-cog"></i> 编辑</a>
				<span>
					上架时间：2017-05-05 14:15
				</span>
			</div>
			<div class="text business-hz">
				<div class="img uk-float-left">
					<a href="#"><img src="img/img-cs.jpg" /></a>
				</div>
				<h2>
					<a href="#">奥迪 奥迪Q5 2016款奥迪Q5 40 TFSI...</a>
				</h2>
				<p>2012年08月 | 4.60万公里</p>
				<p class="jg">当前价格： <span>¥7.60</span> 万</p>
			</div>
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button">下架</a>
				</div>
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button lx">出库</a>
				</div>
			</div>
		</div>
		
		<div class="business-shoucang uk-container-center business-hz uk-margin-bottom">
			<div class="business-hz top">
				<a href="#" class="uk-float-right"><i class="uk-icon-cog"></i> 编辑</a>
				<span>
					下架时间：2017-05-05 14:15
				</span>
			</div>
			<div class="text business-hz">
				<div class="img uk-float-left">
					<a href="#"><img src="img/img-cs.jpg" /></a>
				</div>
				<h2>
					<a href="#">奥迪 奥迪Q5 2016款奥迪Q5 40 TFSI...</a>
				</h2>
				<p>2012年08月 | 4.60万公里</p>
				<p class="jg">当前价格： <span>¥7.60</span> 万</p>
			</div>
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button">上架</a>
				</div>
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button lx">出库</a>
				</div>
			</div>
		</div>
		
		<div class="business-shoucang uk-container-center business-hz uk-margin-bottom">
			<div class="business-hz top">
				<a href="#" class="uk-float-right"><i class="uk-icon-cog"></i> 编辑</a>
				<span>
					下架时间：2017-05-05 14:15
				</span>
			</div>
			<div class="text business-hz">
				<div class="img uk-float-left">
					<a href="#"><img src="img/img-cs.jpg" /></a>
				</div>
				<h2>
					<a href="#">奥迪 奥迪Q5 2016款奥迪Q5 40 TFSI...</a>
				</h2>
				<p>2012年08月 | 4.60万公里</p>
				<p class="jg">当前价格： <span>¥7.60</span> 万</p>
			</div>
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button">上架</a>
				</div>
				<div class="uk-width-1-2">
					<a href="#" class="button uk-button lx">出库</a>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="<{$weburl}>/static/js/uikit/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="<{$weburl}>/static/js/uikit/uikit.min.js"></script>
	</body>
</html>
